<form asp-action="UploadImage" method="post" enctype="multipart/form-data">
   
    <input  class="form-control" type="file" name="files" id="files" multiple/><br />
    

    <input  class="btn btn-primary" type="submit" name="submit" value="Submit" />
</form>